<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace s=Julian\TemplateBootstrap\ViewHelpers}
<f:if condition="{rowIterator.isFirst}">
    <f:then>
        <f:if condition="{data.table_header_position} == 1">
            <f:then>
                <th>
            </f:then>
            <f:else>
                <f:if condition="{columnIterator.isFirst}">
                    <f:then>
                        <f:if condition="{data.table_header_position} == 2">
                            <f:then>
                                <th>
                            </f:then>
                            <f:else>
                                <td>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <td>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{columnIterator.isFirst}">
            <f:then>
                <f:if condition="{data.table_header_position} == 2">
                    <f:then>
                        <th>
                    </f:then>
                    <f:else>
                        <td
                        <f:if condition="{data.table_header_position} != 0">
                            data-columnheader="<f:format.htmlspecialchars>{s:getChild(parent:table.0, childIndex:columnIterator.index)}</f:format.htmlspecialchars>"
                            data-rowheader="<f:format.htmlspecialchars>{row.0}</f:format.htmlspecialchars>"
                        </f:if>
                        >
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <td
                <f:if condition="{data.table_header_position} != 0">
                    data-columnheader="<f:format.htmlspecialchars>{s:getChild(parent:table.0, childIndex:columnIterator.index)}</f:format.htmlspecialchars>"
                    data-rowheader="<f:format.htmlspecialchars>{row.0}</f:format.htmlspecialchars>"
                </f:if>
                >
            </f:else>
        </f:if>
    </f:else>
</f:if>

<f:if condition="{cell}">
    <f:then>{cell -> f:format.nl2br()}</f:then>
    <f:else>&nbsp;</f:else>
</f:if>

<f:if condition="{rowIterator.isFirst}">
    <f:then>
        <f:if condition="{data.table_header_position} == 1">
            <f:then></th></f:then>
            <f:else>
                <f:if condition="{columnIterator.isFirst}">
                    <f:then>
                        <f:if condition="{data.table_header_position} == 2">
                            <f:then>
                                </th>
                            </f:then>
                            <f:else>
                                </td>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        </td>
                    </f:else>
                </f:if>
            </f:else>

        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{columnIterator.isFirst}">
            <f:then>
                <f:if condition="{data.table_header_position} == 2">
                    <f:then>
                        </th>
                    </f:then>
                    <f:else>
                        </td>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                </td>
            </f:else>
        </f:if>
    </f:else>
</f:if>
</html>