{namespace s=Julian\TemplateBootstrap\ViewHelpers}

<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <f:layout name="Default" />

    <f:section name="Content">
        <div class="small-12 medium-8 columns">
            <f:cObject typoscriptObjectPath="lib.contentloader" data="0" />
        </div>
        <div class="small-12 medium-4 columns">

            <f:cObject typoscriptObjectPath="lib.submenu" />

            <f:cObject typoscriptObjectPath="lib.contentloader" data="1" />
        </div>
    </f:section>


</html>