@import url("//hello.myfonts.net/count/31427b");
@font-face {font-family: 'OctinSpraypaintARg-Regular';src: url('../fonts/31427B_0_0.eot');src: url('../fonts/31427B_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31427B_0_0.woff2') format('woff2'),url('../fonts/31427B_0_0.woff') format('woff'),url('../fonts/31427B_0_0.ttf') format('truetype');}
@font-face {
  font-family: 'calluna_sansregular';
  src: url('../fonts/CallunaSansRegular-webfont.eot');
  src: url('../fonts/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CallunaSansRegular-webfont.woff2') format('woff2'),
  url('../fonts/CallunaSansRegular-webfont.woff') format('woff'),
  url('../fonts/CallunaSansRegular-webfont.ttf') format('truetype'),
  url('../fonts/CallunaSansRegular-webfont.svg#calluna_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'comfortaathin';
  src: url('../fonts/comfortaa_thin-webfont.woff2') format('woff2'),
  url('../fonts/comfortaa_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'contax_sans_55regular';
  src: url('../fonts/ContaxSans55Reg-webfont.eot');
  src: url('../fonts/ContaxSans55Reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ContaxSans55Reg-webfont.woff2') format('woff2'),
  url('../fonts/ContaxSans55Reg-webfont.woff') format('woff'),
  url('../fonts/ContaxSans55Reg-webfont.ttf') format('truetype'),
  url('../fonts/ContaxSans55Reg-webfont.svg#contax_sans_55regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
  url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
  url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
