<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="ce-wrapper layout-{data.layout} ctype-{data.CType}" id="c{data.uid}">
	<f:render partial="Header" arguments="{_all}" />
	<f:render partial="Footer" arguments="{_all}" />
</div>
</html>