/*********************************************
    Body & Wrapper Layout Styles
**********************************************/
body{
    background: url("../images/bg_overlay5.png");
}

h1,h2,h3,h4{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-family: 'OctinSpraypaintARg-Regular';
    color:scale-color($primary-color, $lightness: -34%);
    text-shadow: 1px 1px 4px #aaa;
}
h3{
    line-height: 28px;
    margin-top: -6px;
    border-bottom:2px groove #888;
}

.wrapper{
    max-width: 1000px;
    min-height: 1000px;
    @include breakpoint(xxlarge up) {
        max-width: 80%;
    }
    margin: auto;
    box-shadow: 0px 0px 30px 10px rgb(85, 85, 85);
    padding: $global-padding;

    .ce-wrapper{
        margin-top:$global-margin;

        &.ctype-shortcut{
            margin-top:0;
        }

        /*********************************************
        Content Wrapper Layouts
        **********************************************/
        &.layout-1{
            background-image: url("../images/bp-opacity.min.png");
        }


        &.ce-textmedia-wrapper.ctype-textmedia.layout-3{
            div.ce-row:nth-child(2),
            div.ce-row:nth-child(3),
            div.ce-row:nth-child(5),
            div.ce-row:nth-child(6),
            div.ce-row:nth-child(8),
            div.ce-row:nth-child(9),
            div.ce-row:nth-child(11),
            div.ce-row:nth-child(12){
                width: 48%;
                display: inline-block;
            }
            div.ce-row:nth-child(2),
            div.ce-row:nth-child(5),
            div.ce-row:nth-child(8),
            div.ce-row:nth-child(11){
                float:left;
            }

            div.ce-row:nth-child(3),
            div.ce-row:nth-child(6),
            div.ce-row:nth-child(9),
            div.ce-row:nth-child(12){
                float:right;
            }
        }
    }
}

/*********************************************
    Header area
**********************************************/
body.TwoColumns{
    #header{
        margin-bottom:0px;
    }
}

#header {
    position:relative;
    z-index:100;

    #mainNavigation{
        height: 130px;
        background-image: url(../images/stiltry.png);
        background-repeat: no-repeat;
        background-position: 25px 0px;
        //opacity: 0.9;
        background-size: 85% 70%;
        position: relative;
        min-width: 570px;
        max-width: 640px;
        ul{
            white-space: nowrap;
            margin-left: 7%;
            @include breakpoint(large up) {
                margin-left: 10%;
            }
            margin-top: 50px;
            li{
                a{
                    background: none;
                    font-family: OctinSpraypaintARg-Regular;
                    font-size: 19px;
                    @include breakpoint(large up) {
                        font-size: 20px;
                    }
                    color:scale-color($primary-color, $lightness: -34%);
                    padding: 1px 10px 5px;
                    margin-left: 2px;
                    text-shadow: 1px 1px 4px #666;
                }
                a:hover{
                    color:$white;
                    background: $primary-color;
                    border-radius: 42%;
                    //opacity: 0.7;
                    text-shadow: 2px 2px 2px #000;
                }
            }
            li.active a{
                color:$white;
                background: $primary-color;
                border-radius: 42%;
                //opacity: 0.7;
                text-shadow: 2px 2px 2px #000;
            }
        }
    }
}


#logo {
    display:  none;
    @include breakpoint(medium up) {
        display: block;
    }
    box-sizing: border-box;
    width: 300px;
    padding: 0.15rem 0;
    margin-left: 20%;
    @include breakpoint(large up) {
        margin-left: 30%;
    }
    img {
        max-width: 78%!important;
        height:auto;
    }
}
#logo-iconesque {
    display:  none;
    margin:auto;

    @include breakpoint(small down) {
        margin: 0 auto;
        max-width: 320px;
        display:  block;
    }
    @include breakpoint(xsmall down) {
        display:  block;
        width: 80%;
    }
}

#c4{
    @include breakpoint(small down) {
        margin: 5% auto -5%;
        max-width: 350px;
        display:  block;
    }
    @include breakpoint(xsmall down) {
        display:  block;
        width: 85%;
    }
}
/*********************************************
    Menus
**********************************************/
@include breakpoint(medium only) {
    nav.language {
        float:right;
    }
}

/*********************************************
    Slider
**********************************************/
.slide span {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    color: #fff;
}

/*********************************************
    Forms & form elements
**********************************************/
input[type="submit"] {
    @extend .button;
    margin: 1rem 1rem 0 0;
    //background-image: url(../images/bg-btn.min.png);
}
input[type="reset"] {
    @extend .button;
    @extend .alert;
    margin: 1rem 1rem 0 0;
}

textarea{
    resize: vertical;
}

// Resetting some too general foundation error styling
// in _forms.scss.
span.error,
small.error { display:initial; }

// Form mandatory messages (em) & errors (strong)
form label em {
    font-style:normal;
}
form label strong {
    display:block;
    color:$alert-color;
}

/*********************************************
    Indexed search
**********************************************/
// Searchbox: Hide any content (result list,
// etc.) following the search form.
// .. but hide search form in main content area
// as it only needs to show the result list.
.searchbox ~ * { display:none; }
.element.list-element .tx-indexedsearch .tx-indexedsearch-searchbox { display:none; }

/*********************************************
    Footer
**********************************************/
footer.row {
    margin-top:2rem;

    * { font-size:0.8rem; }
    background: url(../images/bg-opacity.png);
    margin-left: $global-padding;
    margin-right: $global-padding;
    @include breakpoint(xxlarge up) {
        margin:2rem auto;
    }

    ul.address{
        list-style-type:none;
        float:left;
        opacity: 0.7;
        li{
            float:left;
            padding-right:10px;
        }
        margin:0;
        padding:1% 2%;
    }
    small.copyright{
        opacity: 0.7;
        float:right;
        padding:1% 2%;
    }
}

/*********************************************
    TT-News Styles
**********************************************/
.tt-news{
    tbody{
        tr{
            td{
                padding: $global-padding;
                background: url(../images/bg-opacity.png);
            }
            td.no-bg{
                background:none;
            }
        }
    }
}


//******Individual Styles**********//
#c5{
    margin-top:60px;
}

#c28{
    padding:$global-padding;
    background: url(../images/bg-opacity.min.png);

    #ttnews-cat-tree{
        ul#treeRoot{
            list-style-type: none;
        }
        ul,li{
            margin:0;
        }
    }
    img{display: none;}
    .icon-markup{
        img{display: inline-block;}
    }
}

#c29{
    padding:$global-padding;
    margin-top:$global-margin;
    min-height: 520px;
    overflow:auto;
}


table.news-entry{
    background: url(../images/bg-opacity.min.png);
    td:first-child{
        padding:$global-padding;
    }
}


.row{
    max-width: 85rem;
}

@include breakpoint(small down){
    .row .column,
    .container-fluid,
    .powermail_create,
    .tx-powermail .container-fluid{
        /*padding-left:2%;
        padding-right:2%;*/
    }
    .row .row {
        margin-left: -2%;
        margin-right: -2%;
    }
    footer.row {
        margin: 3% 2%;
    }
}

@include breakpoint(xsmall down) {
    .row .column, .container-fluid, .powermail_create, .wrapper{padding:2%}
    footer.row {
        margin: 2.25%;
    }
}





/*
iframe {
    margin-top: 20px;
    margin-bottom: 30px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;

    -moz-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -o-transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}*/


.powermail_checkbox_25{
    float:left;
    margin-top: 7px;
}

.checkbox label{
    float: right;
    width:87%;
}

.layout-1.ctype-textmedia{
    padding:1em;
    h2{
        font-size: 1.5rem;
    }
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol{
    font-size: 2rem;
}

.powermail_fieldwrap_booking-intro div,
.powermail_fieldwrap_marker_01 div{
    margin:10px 0;
    font-size:0.8rem;
}

.social-media-wrapper{
    float:right;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -30px;
}

#c45{
    background: url(../images/bg-opacity.min.png);
    padding:$global-padding;
    input[type="submit"]{
        margin:0;
    }
}