<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <div class="row testclass">
        <div class="small-12 large-4 columns">
            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
        </div>
        <div class="small-12 large-4 columns">
            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
        </div>
        <div class="small-12 large-4 columns">
            <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
        </div>
    </div>
</html>