<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <div class="row">
        <div class="small-12 medium-6 large-6 columns">
            <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
        </div>
    </div>
</html>