/*********************************************
    News System Styles
**********************************************/
.news{
  .article{
    padding: $global-padding;
    background: url(../images/bg-opacity.min.png);
  }
}

#c51{
  padding: $global-padding;
  .news{
    ul{
      list-style-type: none;
      margin:0;
    }
  }
}