#typo3-index-php .typo3-login-logo {
    margin:8% auto;
    display:block;
    max-height:150px;
}


ul.templatebootstrap-installlog {
    margin-left:0;
    padding-left:10px;
    margin-left:10px;
    list-style-position:outside;
}

.templatebootstrap-installlog-title {
    color:#dedede;
    font-weight:bold;
}


.t3-page-column.t3-page-ce-wrapper,
.t3-page-column.t3-grid-cell{
    min-width:0;
    max-width: 350px;
}

.t3-page-columns.t3-grid-table.t3js-page-columns .t3-page-column.t3-page-column-1.t3js-page-column{
    min-width:28%;
}

.t3-page-columns.t3-grid-table.t3js-page-columns .t3-grid-element-container .t3-page-column.t3-page-column-1.t3js-page-column {
    min-width:0;
}

.t3-page-columns.t3-grid-table.t3js-page-columns colgroup col{
    width:31%!important;
}



.t3-page-ce-body-inner img{
    max-width:200px;
    height: auto;
}